.contact-form
	= render "layouts/frontend/messages"
	= simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
		.row
			.col-lg-6.col-md-6.col-sm-6#contact-column-name
				= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control form-input", placeholder: "Nombre", required: "required"}

			.col-lg-6.col-md-6.col-sm-6#contact-column-email
				= f.input :email, as: :email, label: false, input_html: {class: "form-control form-input", placeholder: "Email", required: "required"}

			.col-lg-12
				= f.input :subject, label: false, input_html: {class: "form-control form-input", placeholder: "Asunto"}

			.col-lg-12
				= f.input :content, as: :text, label: false, input_html: {class: "form-control form-input form-input-text", placeholder: "Mensaje..."}
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.form-actions
					.col-lg-6.col-md-6.col-sm-6.col-xs-6.pull-left{style: "padding: 0;"}
						= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true

					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "padding: 0;"}
						= f.button :submit, "Enviar", class: "btn btn-primary pull-right btn-send"

		