#about.center
	.about-text
		.center
			.about-up
		%p
			Nos especializamos en el diseño y producción de tarjetas y recuerdos personalizados para celebrar todos los acontecimientos de tu vida, ofrecemos un estilo moderno para comunicar tus eventos, ajustado a tus gustos y necesidades, brindándote la posibilidad de darle un toque único a tus momentos más importantes y con la mejor calidad
		.center
			.about-down