.attachments-modal.modal.fade{id:"attachments-modal-#{catalog.id}", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			%button.modal-close{"data-dismiss" => "modal", :type => "button"}
				.center						
					X			
			.modal-body			
				.carousel.slide.catalog-slide{id:"catalog-slide-#{catalog.id}", "data-ride" => "carousel"}
					.carousel-inner{:role => "listbox"}
						- catalog.attachments.each_with_index do |attachment, index|
							- if attachment.public?
								.item.modal-image-item{class: "#{ index.zero? ? 'item modal-image-item active' : 'item modal-image-item'}", style: "background-image: url(#{attachment.image});"}	
					- if catalog.attachments.count.to_i > 1
						%a.left.carousel-control{"data-slide" => "prev", :href => "#catalog-slide-#{catalog.id}", :role => "button"}
							%span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
							%span.sr-only Previous
						%a.right.carousel-control{"data-slide" => "next", :href => "#catalog-slide-#{catalog.id}", :role => "button"}
							%span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
							%span.sr-only Next 
				.center
					.modal-separador
				.modal-description
					= catalog.description.html_safe

:javascript
	$('.catalog-slide-#{catalog.id}').slick({
		autoplay: true,
		autoplaySpeed: 5000,
	}); 
	$("#attachments-modal-#{catalog.id}").on('shown.bs.modal', function (e) {  				
		$('.catalog-slide-#{catalog.id}').resize();
	})	