.container
	.center
		.footer-title
	.row#footer-row
		.col-lg-5.col-md-6.col-sm-12.col-xs-12
			.row
				.col-lg-2.col-md-2.col-sm-2.col-xs-2
					= link_to "https://www.facebook.com/Tarjetas-y-recuerdos-854307261294827/?fref=ts", target: "_blank" do
						.footer-contact
							.center
								%i.fa.fa-facebook
				.col-lg-5.col-md-5.col-sm-5.col-xs-5
					= link_to "https://www.facebook.com/Tarjetas-y-recuerdos-854307261294827/?fref=ts", target: "_blank" do
						%p.facebook-text
							Tarjetas y Recuerdos
				.col-lg-2.col-md-2.col-sm-2.col-xs-2
					.footer-contact
						.center
							%i.fa.fa-mobile
				.col-lg-3.col-md-3.col-sm-3.col-xs-3
					%p 0993075820 022820652	
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					= render "keppler_contact_us/messages/form"	
		.col-lg-7.col-md-6.col-sm-12.col-xs-12
			#map_canvas
.center
	.footer-logo
.footer-line
	.center
		Todos los derechos reservados 2015. Desarrollado por  
		%span
			= link_to "http://publinetecuador.com/", target:"_blank" do 
				Publinet