#home-logo.hidden-xs
#home-caroucel
	#tarjetas
		
	#recuerdos
		
	#regalos
		

:javascript
	$('#home-caroucel').slick({
		arrows: false,
		fade: true,
		autoplay: true,
		autoplaySpeed: 3000,
		draggable: false,
		dots: false,
		focusOnSelect: false,
		pauseOnHover: false
	});