%h1 ¿Cómo funciona?
.center
	.how-title
.container
	
	.row#how-row
		- ["pedido", "contactos", "bocetos", "entrega", "listo"].each_with_index do |name, index|
			%div#how-column{class: (index!=4) ? 'col-lg-6 col-md-6 col-sm-6' : 'col-lg-12 col-md-12 col-sm-12'}
				%div{id: "how-#{name}"}
					%div{id: "how-#{name}-mask"}
						.center
							#hover-1
								.center
									.icon{class: "icon-#{name}"}
								= t("frontend.how.#{name}.title")
							#hover-2
								.center
									.icon-hover.icon{class: "icon-#{name}-hover"}
								.how-item-title 
									= t("frontend.how.#{name}.title")
								= t("frontend.how.#{name}.text")


	