#home-navbar.hidden-xs
	#show-logo
	.options.top-nav.center
		.option#option-home
			= link_to "#home" do
				Inicio
		.option#option-nosotros
			= link_to "#about" do
				Sobre Nosotros
		.option#option-como
			= link_to "#how" do
				¿Como funciona?
		.option#option-productos
			= link_to "#products" do
				Productos