%h1 Disfruta de nuestra variedad de productos
.center{style: "height: 50px;"}
	.products-title
.container
	.row
		- @sections.each do |section|
			.col-lg-4.col-md-4
				.products-item{style:"background-image: url(/assets/frontend/products/#{section.downcase}.png)"}					
					=link_to "/productos/#{section.downcase}" do
						.products-item-mask
							.center
								.products-title-2
									.products-top
									= section
									.products-down
.red-line