#show-navbar.hidden-xs
	#show-logo
	.center
		.options
			.option#option-home
				= link_to "/#home" do
					Inicio
			.option#option-nosotros
				= link_to "/#about" do
					Sobre Nosotros
			.option#option-como
				= link_to "/#how" do
					¿Como funciona?
			.option#option-productos
				= link_to "/#products" do
					Productos
= render 'layouts/frontend/navigation'
#show-body
	.container
		.row
			.col-lg-9.col-md-9.col-sm-12.col-xs-12
				%h4 Disfruta de nuestra variedad de productos
				%h1 
					= params[:product].capitalize
				.row
					- @catalogs.each do |catalog|
						- if catalog.public?
							.col-lg-4-col-md-4.col-sm-4#attachments-column
								%a{href:"#", "data-toggle"=>"modal", "data-target"=>"#attachments-modal-#{catalog.id}"}
									.attachment-image{style: "background-image: url(#{catalog.cover})"}
										.show-attachment-mask
											.center
												= catalog.name
						= render partial: "frontend/attachment_modal", locals: {catalog: catalog}
			.col-lg-3.col-md-3.col-sm-12.hidden-xs
				%h4 Categorías
				.row#show-category
					- @sections.each do |section|
						.col-lg-12
							.show-item{style:"background-image: url(/assets/frontend/products/#{section.downcase}.png)"}					
								=link_to "/productos/#{section.downcase}" do
									.show-item-mask
										.center
											= section
				%h4 Subcategorías
				.subcategories
					- unless @subcategories.empty?
						- @subcategories.each do |subcategory|
							%p
								= link_to "/productos/#{params[:product].downcase}/#{subcategory.downcase.gsub(" ", "+")}" do
									= subcategory

#show-footer
	.container
		.center
			.footer-title
		.row#footer-row
			.col-lg-5.col-md-6.col-sm-12.col-xs-12
				.row
					.col-lg-2.col-md-2.col-sm-2.col-xs-2
						= link_to "https://www.facebook.com/Tarjetas-y-recuerdos-854307261294827/?fref=ts", target: "_blank" do
							.footer-contact
								.center
									%i.fa.fa-facebook
					.col-lg-5.col-md-5.col-sm-5.col-xs-5
						= link_to "https://www.facebook.com/Tarjetas-y-recuerdos-854307261294827/?fref=ts", target: "_blank" do
							%p.facebook-text
								Tarjetas y Recuerdos
					.col-lg-2.col-md-2.col-sm-2.col-xs-2
						.footer-contact
							.center
								%i.fa.fa-mobile
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						%p 0993075820 022820652	
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						= render "keppler_contact_us/messages/form"	
			.col-lg-7.col-md-6.col-sm-12.col-xs-12
				#map_canvas
	.center
		.footer-logo
	.footer-line
		.center
			Todos los derechos reservados 2015. Desarrollado por  
			%span
				= link_to "http://publinetecuador.com/", target:"_blank" do 
					Publinet