.listing-show-header
	%h5
		= material_icon.md_24.perm_media.css_class("md-light") 
		= "Producto"
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 
			= "Modulo de productos"
		%p{align:"justify"} 
			= t("model.#{controller_name.singularize}.description.body")