.wrapper
	.wrapper-body.container
		.actions
			= link_to catalogs_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @catalog do |f|
					.row
					
						= f.input :cover, label: t("model.#{controller_name.singularize}.attributes.cover"), :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")								
						= f.input :description, label: t("model.#{controller_name.singularize}.attributes.description"), :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }
						= f.input :section, label: t("model.#{controller_name.singularize}.attributes.section"), label: false, collection: KepplerCatalogs.sections,include_blank: "- Selecciona una sección -", input_html: { class: "browser-default" }
						#subcategory_select
							= f.input :subcategory, label: t("model.#{controller_name.singularize}.attributes.subcategory"), collection: @subcategories 
						#subcategory_add
							= f.input :subcategory, label: t("model.#{controller_name.singularize}.attributes.subcategory")
						%a.btn.add_subcategory{title: "Agregar nueva categoria"}
							+
						= f.input :priority, input_html: { min: "0" }
						= f.input :public, label: t("model.#{controller_name.singularize}.attributes.public"), as: :checkbox_material
						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
- if @catalog.cover.file
	:javascript
		$('.file-path').val("#{@catalog.cover}")

:css
	#subcategory_select, #subcategory_add{
		float: left;
		width: 90% !important;
	}
	.add_subcategory{
		margin-top: 25px;
		font-size: 30px;
	}
- if action_name == "new" or action_name == "create"
	:javascript
		$("#subcategory_select").show();
		$("#subcategory_add").hide();
		var click_point = 0;
		$(".add_subcategory").click(function(){
			if(click_point == 0){
				$("#subcategory_add").show();
				$("#subcategory_select").hide();
				$(".add_subcategory").html("X");
				click_point = 1;
			}else{
				$("#subcategory_select").show();
				$("#subcategory_add").hide();
				$(".add_subcategory").html("+");
				click_point = 0;
			}
		})

- if action_name == "edit" or action_name == "update"
	:javascript
		$("#subcategory_select").remove();