- if can? :index,  KepplerCatalogs::Catalog
	%li
		= header_tab "Productos", "perm_media", current_navigation?("KepplerCatalogs")
		= body_tab do
			- if can? :index, KepplerCatalogs::Catalog
				= link_tab "Lista de productos", '/admin/catalogs', current_navigation?("KepplerCatalogs::Catalogs")
			- if can? :index, KepplerCatalogs::Category
				= link_tab "Categorías", "/admin/attachment/categories", current_navigation?("KepplerCatalogs::Categories")

