@import "../core/main";
#about{
	height:500px;
	background: white;
	.about-text{
		width: 550px;
		text-align: justify;
		color: $primary-color;
		font-size: 16px;
		font-weight: 400;
		font-style: italic;
		@media #{$phone}{
			width: 300px;
		}
		p{
			padding-top: 35px;
			padding-bottom: 35px;
		}
		.about-up{
			background-image: image-url("frontend/about/about_top.png");
			background-size: 100% 100%;
			height: 60px;
			width: 300px;
		}
		.about-down{
			background-image: image-url("frontend/about/about_down.png");
			background-size: 100% 100%;
			height: 60px;
			width: 300px;
		}
	}
}