@import "../core/main";
#footer{
	padding-top: 150px;
	background: #EE796F;	
	@media #{$tablet}{
		top: 0px;	
	}
	@media #{$phone}{
		padding-top: 50px;
		top: 0px;	
	}
	.footer-title{
		background-image: url(/assets/frontend/footer/footer-separador.png);
		background-size: 100% 100%;
		height: 50px;
		width: 500px;
	}
	.footer-contact{
		color: #EE796F;
		background: #ffffff;
		padding: 10px;
		height: 50px;
		width: 50px;
		font-size: 30px;
		border-radius: 50%;
		margin-bottom: 10px;
	}
	a:hover{
		text-decoration: none;
	}
	.footer-line{
		background: #1A1915;
		height: 50px;
		color: white;
		span{
			font-weight: bold;
			margin-left: 2px;
			a, a:hover{
				color: white;
			}
		}
	}
	#footer-row{
		margin-top: 50px;
		margin-bottom: 50px;
		color: white;
		@media #{$phone}{
		}
		.facebook-text, .facebook-text:hover{
			margin-top: 10%;
			color: white;
			text-decoration: none;
		}

	}
	.footer-logo{
		background-image: image-url("frontend/home/home-logo.png");
		background-size: 100% 100%;
		height: 100px;
		width: 250px;		
	}

	.contact-form{
		width: 100%;
		margin-top: 20px;
		#contact-column-name{
			padding-right: 0px;
			@include phone_all{
				padding-right: 15px;
			}
		}
		#contact-column-email{
			padding-left: 0px;
			@include phone_all{
				padding-left: 15px;
			}
		}
		.form-input, .form-input:focus{
			background: none;
			color: white;
			border: 1px solid white;
			border-radius: 0px;
			padding: 15px;
		}
		::-webkit-input-placeholder {
		   color: white;
		}
		::-moz-placeholder {
		   color: white;
		}
		.form-input-text{
			height: 100px;
		}

		.form-actions{
			.g-recaptcha div:nth-child(1){
			  transform: scale(0.82);
			  transform-origin: 0 0;
			}
			.btn-send{
				background: white;
		    border: none;
		    border-radius: 0px;
		    color: #EE796F;
		    padding: 11px;
		    width: 243px;
		    font-size: 20px;
		    outline: 0px;
		    @media #{$tablet}{
		    	width: 140px;
		    }
		    @media #{$phone}{
		    	width: 200px;
		    }
			}
		}
	}	

	#map_canvas{
		height: 298px;
	}
}