// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";
body, main{
	height: 100%;
}
.center{
	@include display-flexbox;
    @include align-items(center);
    @include justify-content(center);
	height: 100%;	
	width: 100%;
}  