@import "../core/main";
#home{
	height: 100%;
	#home-caroucel{
		height: 88%;
		margin: 0px;
		outline: none;
		@include phone_all{
			height: 92%;
		}
		#tarjetas{
			background-image: image-url("frontend/home/tarjetas.jpg");
			background-size: cover;
			background-position: center;
			height: 100%;
			@media #{$phone}{
				background-image: image-url("frontend/home/tarjetas-phone.jpg");
			}
		}
		#recuerdos{
			background-image: image-url("frontend/home/recuerdos.jpg");
			background-size: cover;
			background-position: center;
			height: 100%;
			@media #{$phone}{
				background-image: image-url("frontend/home/recuerdos-phone.jpg");
			}
		}
		#regalos{
			background-image: image-url("frontend/home/regalos.jpg");
			background-size: cover;
			background-position: center;
			height: 100%;
			@media #{$phone}{
				background-image: image-url("frontend/home/regalos-phone.jpg");
			}
		}
	}
	.slick-list{
		height: 100% !important;
	}
	.slick-track{
		height: 100% !important;
	}
	#home-logo{
		background-image: image-url("frontend/home/home-logo.png");
		background-size: 100% 100%;
		height: 120px;
		width: 280px;
		position: absolute;
		right: 10%;
		bottom: 11.9%;
		z-index: 999998;
	}	
	#home-navbar{
		background: #4E98A1;
		height: 12%;
		width: 100%;
		#show-logo{
			background-image: image-url("frontend/home/home-logo.png");
			background-size: 100% 100%;
			height: 55px;
    	width: 126px;
			position: absolute;
			left: 10%;
			display: none;
			@media #{$tablet}{
				display: none !important;
			}
			@media #{$tablet-landscape}{
				display: none !important;
			}
		}
		.options{
			width: 100%;
			height: 100%;
			.option{
				float: left;
				a{						
					padding: 20px;				
					font-size: 20px;
					color: white;
					text-decoration: none;					
					@include transition(.3s);
					outline: none;
				}
				a:hover{
					color: #EE796F;
					@include transition(.3s);
				}
			}		
			.current{
				a{
					color: #EE796F;
					@include transition(.3s);
				}
			}	
			#option-home, #option-nosotros, #option-como{
				border-right: 1px solid white;
			}
		}
	}
}