@import "../core/main";
#how{
	background: #EEF0ED;
	padding-top: 100px;
	padding-bottom: 50px;
	h1{
		font-weight: 500;
		font-style: italic;
		color: $primary-color;
		text-align: center;
		margin: 0px;
		@include phone_all{
			font-size: 23px;
		}
	}
	.how-title{
		background-image: url(/assets/frontend/how/how_title.png);
		background-size: 100% 100%;
		height: 50px;
		width: 300px;
	}
	.container{
		width: 65%;
		@media #{$desktop}{
			width: 80%;
		}
		@media #{$tablet}{
			width: 90%;
		}
		@include phone_all{
			width: 100%;
		}
		#how-row{
			#how-column{
				@media #{$tablet}{
					padding: 5px;	
				}
				margin-bottom: 20px;
				@media #{$tablet}{
					margin-bottom: 0px;	
				}
				@include phone_all{
					margin-bottom: 0px;	
				}
			}
			.icon{
				background-size: 100% 100%;
		    height: 45px;
		    width: 45px;
		    margin: 10px;
			}
			.icon-hover{
				background-size: 100% 100%;
		    height: 35px;
		    width: 35px;
			}
			.how-item-title{
				font-weight: bold;
				font-size: 18px;
			}
			@each $step in (pedido, contactos, bocetos, entrega, listo) {
				.icon-#{$step}{
					background-image: url(/assets/frontend/how/how_icon_#{$step}.png);
				}	
				.icon-#{$step}-hover{
					background-image: url(/assets/frontend/how/how_icon_#{$step}_hover.png);
				}		
				#how-#{$step}{
					background-image: url(/assets/frontend/how/how_#{$step}.jpg);
					background-size: 100% 100%;
					height: 170px;					
					color: #000;
					@media #{$tablet}{
						background-image: none;
						background: $primary-color;
						background-size: 100% 100%;
						height: 200px;					
						color: #000;	
						margin-bottom: 5px;
					}
					@include phone_all{
						background-image: none;
						background: $primary-color;
						background-size: 100% 100%;
						height: 200px;					
						color: #000;	
						margin-bottom: 5px;
					}
					#hover-1{						
						font-weight: bold;
						font-size: 23px;
						text-align: center;
						@media #{$tablet}{
							display: none;	
						}
						@include phone_all{
							display: none;	
						}
					}
					#hover-2{
						color: white;
						text-align: center;
						padding: 15px;
						display: none;
						@media #{$tablet}{
							display: block;	
						}	
						@include phone_all{
							display: block;	
						}						
					}
				}
				#how-#{$step}-mask{
					height: 170px;
					background: none;					
					@include transition(.3s);
				}
				#how-#{$step}-mask:hover{
					background: $primary-color;
					background-size: 100% 100%;
					height: 170px;					
					color: #000;
					@include transition(.3s);
					@include phone_all{
						height: 200px;		
					}
					@media #{$tablet}{
						height: 200px;	
					}
					#hover-1{						
						display: none;
					}
					#hover-2{
						color: white;
						text-align: center;
						display: block;	
						padding: 15px;					
					}
				}
			}
		}		
	}
}