@import "../core/main";
#front-navbar{ 
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: $primary-color;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	z-index: 999999;
	a{
		color:white;
	}
	.brand-logo{
		font-family: 'Patua One', cursive;
		position: relative;
		left: 10px;
		font-size: 30px;
		color: #ffffff;
		height: 50px !important;
		width: 126px !important;
	}
	#navbar-logo{
		background-image: image-url("frontend/home/home-logo.png");
		background-size: 100% 100%;
		height: 50px;
    	width: 126px;
    	margin-top: 5px;
    	margin-left: 5px;    
	}
	
	
}