@import "../core/main";
#products{
	padding-top: 100px;
	padding-bottom: 50px;
	background: white;
	height: 450px;
	@media #{$tablet}{
		height: auto;
	}
	@media #{$tablet-landscape}{
		height: auto;
	}
	@include phone_all{
		height: auto;
	}
	@include phone-all{
		height: auto;
	}
	h1{
		font-weight: 500;
		font-style: italic;
		color: $primary-color;
		text-align: center;
		margin: 0px;
		@include phone_all{
			font-size: 23px;
		}
	}
	.products-title{
		background-image: url(/assets/frontend/how/how_title.png);
		background-size: 100% 100%;
		height: 50px;
		width: 300px;
	}
	.container{
		margin-top: 30px;
		width: 90%;
		@media #{$desktop}{
			width: 100%;
		}
		@media #{$tablet}{
			width: 100%;
			margin-top: 0px;
		}
		@include phone-all{
			width: 100%;	
			margin-top: 0px;
		}
		.products-item{
			background-size: cover;
			background-position: center;
			height: 310px;
			cursor:pointer;
			width: 100%;
			color: white;
			font-size: 30px;
			font-style: italic;			
			a{
				text-decoration: none;
				color: white;
			}
			@include phone_all{
				margin-bottom: 5px;
			}
			@media #{$tablet}{
				margin-bottom: 5px;
			}
			.products-item-mask{
				background: rgba(134, 124, 124, 0.45);
				height: 100%;
				width: 100%;
				cursor:pointer;
				display: none;
				text-align: center;
				@include phone_all{
					display: block;
				}
				.products-top{
					background-image: url(/assets/frontend/products/products-top.png);
					background-size: 100% 100%;
					height: 25px;
					width: 300px;
				}
				.products-down{
					background-image: url(/assets/frontend/products/products-down.png);
					background-size: 100% 100%;
					height: 25px;
					width: 300px;
				}
			}
		}
		.products-item:hover{
			.products-item-mask{
				display: block;
			}			
			a{
				text-decoration: none;
				color: white;
			}
		}		
	}
}