@import "../core/main";
#show-navbar{
	background: #4E98A1;
	height: 101px;
	.option{
		float: left;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 20px;
	}
	a, a:hover{
		color: white;
		text-decoration: none;
	}
	#show-logo{
		background-image: image-url("frontend/home/home-logo.png");
		background-size: 100% 100%;
		height: 80px;
		width: 180px;
		position: absolute;
		top: 22px;
		left: 10%;
		@media #{$tablet}{
			display: none;
		}
		@media #{$tablet-landscape}{
			display: none;
		}
	}
	#option-home, #option-nosotros, #option-como{
		border-right: 1px solid white;
	}

}

#show-body{
	padding-top: 100px;
	padding-bottom: 50px;
	@media #{$phone}{
		padding-top: 100px;
	}
	h1{
		color: #EE796F;
		margin-bottom: 50px;
	}
	h4{
		color: $primary-color;
	}
	#attachments-column{
		padding: 5px;
		a, a:hover{
			text-decoration: none;
		}
		.attachment-image{
			background-position: center;
			background-size: cover;
			height: 200px;
			width: 100%;
			.show-attachment-mask{
				background: rgba(134, 124, 124, 0.45);
				height: 100%;
				width: 100%;
				color: white;
				font-size: 20px;
				font-style: italic;
				opacity: 0;
				padding: 5px;
			}
			.show-attachment-mask:hover{
				opacity: 1;
			}
		}
	}

	.attachments-modal{
		.catalog-slide{ 
			.item{
				height: 400px;
				background-size: cover;
				background-position: center;
			}
		}
		.modal-dialog{
			width: 50%;
			@media #{$tablet}{
				width: 80%;
			}
			@include phone_all{
				width: 94%;
				margin-top: 90px;
			}
			.modal-content{
				background: image-url("frontend/modal/modal-background.jpg");
				background-size:cover;
				border-radius: 0px;		
				.modal-close{
					background: #EE796F;
					border: none;
					color: white;
					width: 40px;
					height: 40px;
					font-size: 25px;
					position: absolute;
					top: -10px;
				right: -10px;
				z-index: 99999;
				outline: none;
				}		
				.modal-body{
					padding: 30px;
					.attachment-image{
						background-position: center;
						background-size: cover;
						background-position: center;
						height: 350px;
						width: 100%;
					}
					.modal-separador{
						background-image: url(/assets/frontend/modal/modal-separador.png);
						background-size: 100% 100%;
						height: 70px;
						width: 400px;
					}
					.modal-description{
						text-align: center;
						margin-top: -20px;
					}
				}
			}
		}
	}

	#show-category{
		margin-top: 30px;
	}

	.subcategories{
		p{
			margin-top: 21px;	
			a, a:hover{
				background: $primary-color;
				padding: 10px;
				border-radius: 10px;
				color: white;
				text-decoration: none;
			}
		}
	}
	.show-item{
		background-size: cover;
		background-position: center;
		height: 150px;
		cursor:pointer;
		width: 100%;
		color: white;
		font-size: 20px;
		font-style: italic;
		margin-top: 5px;
		margin-bottom: 5px;
		.show-item-mask, a:hover{
			background: rgba(134, 124, 124, 0.45);
			height: 100%;
			width: 100%;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			color: white;
		}
	}
}

#show-footer{
	padding-top: 50px;
	background: #EE796F;	
	@media #{$tablet}{
		top: 0px;	
	}
	@media #{$phone}{
		padding-top: 50px;
		top: 0px;	
	}
	.footer-title{
		background-image: url(/assets/frontend/footer/footer-separador.png);
		background-size: 100% 100%;
		height: 50px;
		width: 500px;
	}
	.footer-contact{
		color: #EE796F;
		background: #ffffff;
		padding: 10px;
		height: 50px;
		width: 50px;
		font-size: 30px;
		border-radius: 50%;
		margin-bottom: 10px;
	}
	a:hover{
		text-decoration: none;
	}
	.footer-line{
		background: #1A1915;
		height: 50px;
		color: white;
		span{
			font-weight: bold;
			margin-left: 2px;
			a, a:hover{
				color: white;
			}
		}
	}
	#footer-row{
		margin-top: 50px;
		margin-bottom: 50px;
		color: white;
		@media #{$phone}{
		}
		.facebook-text, .facebook-text:hover{
			margin-top: 10%;
			color: white;
			text-decoration: none;
		}

	}
	.footer-logo{
		background-image: image-url("frontend/home/home-logo.png");
		background-size: 100% 100%;
		height: 100px;
		width: 250px;		
	}

	.contact-form{
		width: 100%;
		margin-top: 20px;
		#contact-column-name{
			padding-right: 0px;
			@include phone_all{
				padding-right: 15px;
			}
		}
		#contact-column-email{
			padding-left: 0px;
			@include phone_all{
				padding-left: 15px;
			}
		}
		.form-input, .form-input:focus{
			background: none;
			color: white;
			border: 1px solid white;
			border-radius: 0px;
			padding: 15px;
		}
		::-webkit-input-placeholder {
		   color: white;
		}
		::-moz-placeholder {
		   color: white;
		}
		.form-input-text{
			height: 100px;
		}

		.form-actions{
			.g-recaptcha div:nth-child(1){
			  transform: scale(0.82);
			  transform-origin: 0 0;
			}
			.btn-send{
				background: white;
			border: none;
			border-radius: 0px;
			color: #EE796F;
			padding: 11px;
			width: 243px;
			font-size: 20px;
			outline: 0px;
			@media #{$tablet}{
				width: 140px;
			}
			@media #{$phone}{
				width: 200px;
			}
			}
		}
	}	

	#map_canvas{
		height: 298px;
	}
}