- if action_name == "index"
	%li= link_to 'Inicio'.html_safe, "#home"
	%li= link_to 'Sobre Nosotros'.html_safe, "#about"
	%li= link_to '¿Como funciona?'.html_safe, "#how"
	%li= link_to 'Productos'.html_safe, "#products"
- else
	%li= link_to 'Inicio'.html_safe, "/"
	%li= link_to 'Sobre Nosotros'.html_safe, "/"
	%li= link_to '¿Como funciona?'.html_safe, "/#how"
	%li= link_to 'Productos'.html_safe, "/#products"