-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default#front-navbar.visible-xs{class: "#{'navbar-fixed-top' if action_name != "index"}"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar 
      #navbar-logo
    .collapse.navbar-collapse
      %ul.nav.navbar-nav{class: "#{'top-nav' if action_name == "index"}"}   
        = render 'layouts/frontend/navigation_links'

