- (action_name == "new" or action_name == "create") ? action="create" : action="update"
.wrapper
	.wrapper-body.container
		.actions
			= link_to catalog_attachments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @attachment, :url => url_for(:action => action, :controller => 'attachments') do |f|
					.row
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")						

						= f.input :upload, label: false, collection: [["Subir imagen", 1], ["Imagen por url", 2]],include_blank: t("model.#{controller_name.singularize}.attributes.upload"), input_html: { class: "browser-default upload-select" }

						#image
							= f.input :image,label: t("model.#{controller_name.singularize}.attributes.image"), :as => :file_material, label: false, wrapper_html: { class: "file-field" }
							
						#url
							= f.input :url, input_html: {class: "materialize-textarea"}

						= #f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }					
						

						= #f.association :category, label: false,include_blank: "- Selecciona una categoria -", input_html: { class: "browser-default" }

						= f.input :public, label: "Publicar", as: :checkbox_material

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"

- if @attachment.image.file
	:javascript
		$('.file-path').val("#{@attachment.image}")

-if @attachment.upload == "1"
	:javascript    
		$("#image").show();
		$("#url").hide();
-else
	- if @attachment.upload.blank?
		:javascript    
			$("#image").hide();
			$("#url").hide();
	-else
		:javascript    
			$("#image").hide();
			$("#url").show();


