= title "Imagenes - editar | #{@attachment.id}"
= header_information do
	= link_to "Productos", catalogs_path
	= ">"
	= link_to "#{@catalog.name.humanize}", catalog_attachments_path
	= "> #{@attachment.name.humanize}"

= render 'form'